*{
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgba(255,255,255,.3);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 9999;
    .logo {
        a {
            color: red;
            text-decoration: none;
            padding: 10px;
            font-size: 14px;
        }
    }
    ul{
        list-style: none;
        display: flex;
        li{
            a{
                text-decoration: none;
                padding: 10px;
            }
        }
    }
}